/***
*   Components - Events
***/


.events__landing-list-read-more {
	@include font-size(14px);
	color: $grey-520;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	i {
		@include font-size(10px);
		margin-left: 3px;
		color: $grey-520;
	}
}

.events__landing-list {

	li {
		padding: 20px 0;
		border-bottom: 1px solid $grey-480;
		display: inline-block;
		width: 100%;

		&:last-of-type {
			border-bottom-color: transparent;
		}

		div {
			display: inline-block;

			&:first-of-type {
				@include span(1.8 of 12 no-gutter);
			}
			&:last-of-type {
				@include span(10.1 of 12 no-gutter);
				padding-left: 30px;
				border-left: 1px solid $grey-480;
			}
		}

		.events__landing-list-item-date {
			@include font-size(12px);
			color: $grey-520;
		}

		h3 {

			a {
				color: $fh-darkgrey;
				text-decoration: none;
			}
		}

		.events__landing-list-read-more {
			color: $fh-darkblue;
			text-decoration: none;
			@include font-size(14px);

			i {
				@include font-size(10px);
				margin-left: 3px;
			}

		}
	}
}
