/***
*   Components -  Favourites
***/

.favourites {



}

	.favourites__docs, .favourites__links, .favourites__forms {

	}

	.favourites__docs-list-item, .favourites__links-list-item, .favourites__forms-list-item {
		color: $fh-blue;
		font-weight: $medium;
    	text-decoration: none;
	}

