/***
*   Components -  Favourites
***/

.favourites {

	h2 {
		font-weight: $bold;
		text-transform: uppercase;
		@include font-size(27px);
	}


}

	.favourites__docs, .favourites__links, .favourites__forms {

	}

	.favourites__docs-list-item, .favourites__links-list-item, .favourites__forms-list-item {
		color: $grey-520;
		text-transform: lowercase;

		a {
			color: $fh-blue;
			font-weight: $medium;
	    	text-decoration: none;
	    	text-transform: capitalize;
	    }
	}

