/***
*   Components - Forms
***/

.sq-form-submit {
	background-color: $fh-blue;
	color: $white;
	font-weight: $medium;
	padding: $padding $padding * 3.5 $padding $padding * 1.6;
	border: none;
   	-webkit-appearance: none;
  	-moz-appearance:    none;
   	appearance:         none;
   	display: block;
	@include transition(background-color 0.4s ease-in-out);

   	&:focus, &:hover {
   		background-color: darken($fh-blue, 10);
   	}
}

.save-row {
	position: relative;
	float: right;

	&:after {
   		position: absolute;
   		content: "\f054";
   		top: 7px;
   		color: $white;
   		right: 0.8em;
   		@include font-size(14px);
   		font-weight: $normal;
   		font-family: FontAwesome;
   	}
}

.sq-form-field {
	border: 1px solid $grey-300;
	padding: $padding;
	@include transition(border-color 0.4s ease-in-out);

	&:focus {
		border-color: $fh-blue;
	}
}

.sq-form-question-title {
	@include font-size(14px);
	text-transform: uppercase;
	color: $grey-520;
}

.sq-form-container:nth-child(even) {
	@include media-query(note-and-up) {
		@include span(1 of 2)
	}
}

.sq-form-container:nth-child(odd) {
	@include media-query(note-and-up) {
		@include span(1 of 2 no-gutter);
	}
}

form {
	@include position(relative, null null null null);
	display: inline-block;
	margin-top: 20px;

	ul {
		list-style: none; 

		li {
			label {
				display: inline-block;
				margin-left: 1em;
			}
		}
	}

	input[type="text"], input[type="email"], select {
		display: block;
		width: 100%;	
		margin-bottom: 1em;
	}
}