/***
*   Components -  Important Dates
***/

.important-dates {


}

	.important-dates__list-item {
		strong {
			font-size: $base-font-size * 2;
		}

		a {
			color: $white;
		}
	}

	.important-dates__calendar {
		header {
			position: relative;
			border: 3px solid $fh-darkblue;

			span {
				position: absolute;
				top: 0;
				color: $fh-orange;
			}
		}

		h2 {

		}
	}