/***
*   Components -  Important Links styling
***/

.important-links {
	@include position(relative, null null null null);
	@include span(2.5 of 12 no-gutter);
	float: right;

	@include media-query(portable) {
		@include span(1 of 2);
	}

	@include media-query(palm) {
		float: none;
		margin-top: 30px;
		width: auto;
		display: inline-block;
	}

	h2 {
		@include font-size(16px);
		color: $fh-orange;
	}

	ul {
		li {
			border-bottom: 1px solid $grey-480;

			&:last-of-type {
				border-bottom-color: transparent;
			}

			a {
				@include font-size(13.5px);
				@include transition(color 0.4s ease-in-out);
				color: $grey-550;
				display: inline-block;
				text-decoration: none;
				padding: 10px 0;

				&:hover {
					color: $fh-orange;
				}

				img {
					height: 17.5px;
					width: auto;
					margin-bottom: -3px;
					margin-right: 15px;
					display: inline-block;
				}
			}
		}
	}
}