/***
*   Components -  CEO Messages Style
***/

#toolbar {
	@include position(relative, null null null null);
	display: block;
	height: 114px;
	padding-top: 33px;
	padding-left: 80px;
}

.toolbar__user {
	display: inline-block;
	position: relative;
	margin-top: 12px;
}

.toolbar__user-pic {
	@include position(absolute, -15px null null -74px);
	display: inline-block;
	width: 54px;
	height: 54px;
	background-size: contain;
	border-radius: 30px;
}

.toolbar__user--id {
	font-weight: $light;
}