/***
*   Components - Utility Styles
***/

.utility-nav {
	display: block;
	@include position(absolute, 0 null null 0);
	width: 258px;
	height: 114px;

	&__logo {
		display: block;
		width: 258px;

		a {
			display: block;
			width: 100%;
			height: 114px;
			background: url('/__data/assets/image/0012/1335/fh-logo.png');
			background-repeat: no-repeat;
			background-size: 200px 29px;
			background-position: 24px 42px;

		}

		@include media-query(below-desk) {
			width: 220px;

			a {
	        	background-size: 170px 24px;
	        }
		}
	}
}